/*
-------------------------------
--- Made by Aiken Tine Ahac ---
-------------------------------
*/

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #380036, #0cbaba);
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

#about-me > h1,
#projects > h1,
#work > h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-bottom: 25px;
}

#about-me > p {
  font-size: 1.5rem;
  font-family: "Montserrat";
  color: #fff;
  text-align: justify;
  width: 80vw;
  padding-bottom: 15px;
}

#about-me > p > a {
  color: #fff;
}

.headshot {
  width: 250px;
  height: 250px;
}

.head-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: "Montserrat";
  padding-bottom: 15px;
}

.head-subtitle {
  font-size: 1.5rem;
  color: #cccbcf;
  font-family: "Montserrat";
}

.socials {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
  text-decoration: none;
}
